
  <svg
    [attr.width]="width"
    [attr.height]="height"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
  >
    <rect
      [attr.width]="width"
      [attr.height]="height"
      style="fill: rgb(0, 0, 255); stroke-width: 3; stroke: rgb(0, 0, 0)"
    />
  </svg>
  <p><span style=" font-weight:bold">Perimeter:</span> {{perimeter}}</p>
